<nav id="nav">
    <!-- <ng-template pTemplate="start">
        <img src="assets/icon2.svg" height="80" class="mr-2" >
    </ng-template> -->
    <div class="flex justify-content-center align-items-center">
        <span class="flex flex-warp justify-content-center align-items-center text-xl">
            <h1>
                Warehouse Inventory
            </h1>
        </span>
    </div>
    <div>
        <span class="flex flex-warp justify-content-center align-items-center">
            <button pRipple type="button" pButton label="Home" class="p-button-raised p-button-rounded mx-2" icon="pi pi-home" routerLink=""></button>
            <button pRipple type="button" pButton label="View  " class="p-button-raised p-button-rounded mx-2" icon="pi pi-desktop" routerLink="/view"></button>
            <button pRipple type="button" pButton label="Add   " class="p-button-raised p-button-rounded mx-2" icon="pi pi-save" routerLink="add"></button>
            <button pRipple type="button" pButton label="Update" class="p-button-raised p-button-rounded mx-2" icon="pi pi-refresh" routerLink="/update"></button>
            
        </span>
    </div>
</nav>

