#nav{
    height: 150px;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: 0px 200px 10px 200px;
    
    
    
}

#nav-title {
    height: 75px;
    margin: 10px 200px 10px 200px;
    background-color: #485460;
    border-radius: 10px;
    
    
}

