<div id="nav" class="card">
    <span class="flex flex-warp justify-content-center align-items-center">
        <button type="button" pButton label="Home" class="p-button-raised p-button-rounded mx-2" icon="pi pi-home"></button>
        <button type="button" pButton label="View  " class="p-button-raised p-button-rounded mx-2" icon="pi pi-desktop"></button>
        <button type="button" pButton label="Add   " class="p-button-raised p-button-rounded mx-2" icon="pi pi-save"></button>
        <button type="button" pButton label="Update" class="p-button-raised p-button-rounded mx-2" icon="pi pi-refresh"></button>
        <button type="button" pButton label="Delete" class="p-button-raised p-button-rounded mx-2" icon="pi pi-minus-circle"></button>
    </span>
</div>

