<article class="flex justify-content-evenly">
    <p-card header="Zone 1 (Receiving)" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        Item Count: {{this.zone1}}

    </p-card>
    
    <p-card header="Zone 2 (Storage)" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        Item Count: {{this.zone2}}
    
    </p-card>
    
    <p-card header="Zone 3 (Shipping)" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        Item Count: {{this.zone3}}
    
    </p-card>
</article>
