<article class="flex justify-content-center">

    <p-card class="flex-row justify-content-center align-items-center">
        <div class="text-xl flex justify-content-center" >
            <h2 class="flex" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;">Warehouse Status</h2>
        </div>
        <p-card header="Zone 1 (Receiving)" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <div>Item Count: {{this.zone1}}</div>
            <div>Available Capacity: {{this.capacity1}}</div>
    
        </p-card>
        
        <p-card header="Zone 2 (Storage)" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <div>Item Count: {{this.zone2}}</div>
            <div>Available Capacity: {{this.capacity2}}</div>
        
        </p-card>
        
        <p-card header="Zone 3 (Shipping)" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <div>Item Count: {{this.zone3}}</div>
            <div>Available Capacity: {{this.capacity3}}</div>
        
        </p-card>
    </p-card>
</article>
